.wrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    img {
        margin: 40px 0 0 50px;
        width: 200px;
    }
    .container {
        max-width: var(--default-layout-width);
        margin: auto;
        flex: 1;
    }
}


