.wrapper {
    height: 100%;
    overflow-y: auto;
}

.header {
    color: #666666;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 20px;

    .title {
        color: #000000e6;
        font-size: 2.4rem;
        font-weight: 600;
    }

    .company-info {
        margin-top: 8px;
        display: flex;
        gap: 5px;
        .address {
            &::before {
                content: '';
                background-color: currentColor;
                display: inline-block;
                vertical-align: middle;
                margin-right: 0.4rem;
                width: 2px;
                height: 2px;
                border-radius: 50%;
            }
        }
        .date-time {
            color: #00000099;
        }

        .applications {
            color: #057642;
            font-weight: 500;
            &::before {
                content: '';
                background-color: currentColor;
                display: inline-block;
                vertical-align: middle;
                margin-right: 0.4rem;
                width: 2px;
                height: 2px;
                border-radius: 50%;
            }
        }
    }

    .detail-info {
        margin: 24px 0 8px;
        > li {
            display: flex;
            align-items: center;
            > span {
                margin-left: 8px;
            }
            & + li {
                margin-top: 8px;
            }
        }
    }

    .btns {
        margin-top: 24px;
    }
}

.description {
    margin: 16px;
    color: #000000e6;
    font-size: 1.4rem;
    font-weight: 400;
    strong {
    }
    ul {
        margin-left: 16px;
        padding-left: 18px;
        list-style-type: disc;
    }
}
