@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary: #0b65c3;
    --black: black;
    --white: #fff;
    --text-color: #161823;

    // Default Layout
    --default-layout-header-height: 53px;
    --default-layout-width: 1128px;
    --default-layout-horizontal-spacer: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    background-color: #f3f2ee;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

.separate-horizontal-both {
    margin: 10px 0;
    height: 1px;
    background-color: rgba($color: #000000, $alpha: 0.15);
}

.separate-vertical-both {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.separate-vertical-left {
    border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.separate-vertical-right {
    border-right: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.separate-horizontal {
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.spacer-horizontal {
    height: 4px;
    padding: 0 !important;
}

.or {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    margin: 32px 0 16px;
    background-color: #b5bdc4;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6rem;
        text-align: center;
        background-color: var(--white);
    }
}