.container {
    width: var(--default-layout-width);
    height: calc(100vh - 110px); // fit height window remain
    display: flex;
    background-color: #fff;
}
.jobs-list {
    overflow-y: auto;
}
.job-card-item-detail {
    flex: 1;
    height: 100%;
    padding: 0 12px;
}