.wrapper {
    position: absolute;
    z-index: 10;
    width: 100%;
    min-height: 57px;
    padding: 12px 0;
    border-bottom: rgba($color: #000000, $alpha: 0.08);
    box-shadow: 0 0 0 1px rgba($color: #000, $alpha: 0.08), 0 4px 4px rgba($color: #000, $alpha: 0.3);
    background-color: var(--white);
}

.inner {
    width: var(--default-layout-width);
    height: 32px;
    margin: auto;
    display: flex;
}

.btn {
    width: fit-content;
    height: 32px;
    font-size: 15px;
    padding: 0.4rem 12px;
    color: rgba($color: #000, $alpha: 0.6);
    border-color: rgba($color: #000, $alpha: 0.3);
    &:hover {
        box-shadow: inset 0 0 0 1px rgba($color: #000, $alpha: 0.3);
        background-color: rgba(0, 0, 0, 0.08);
        border-color: rgba($color: #000, $alpha: 0.3);
    }
    &.active {
        color: var(--white);
        background-color: #057642;
        border-color: currentColor;
        box-shadow: none;
    }
}

.search-types {
    margin: 0 8px;
    padding: 0 8px;
}
