.nav-list {
    flex: 1;
    justify-content: flex-end;
    display: flex;

    .nav-item {
        width: 82px;
        height: var(--default-layout-header-height);
        margin: 0 5px;
        color: rgba(0, 0, 0, 0.6);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #000;
        }

        &.nav-active {
            color: var(--black);
            border-bottom: 2px solid #000;
        }

        &.disabled {
            pointer-events: none;
            user-select: none;
        }

        .nav-icon {
            font-size: 20px;
        }

        span {
            // margin-top: 10px;
            font-size: 12px;
        }
    }
}
