.wrapper {
    width: 100%;
    padding: 52px 52px;
    background-color: #282b4a;
}

.content {
    .footer__heading {
        font-size: 24px;
        font-weight: 600;
        color: rgb(59 130 246);
        margin-bottom: 28px;
    }

    .footer__link {
        margin-top: 10px;
        cursor: pointer;
        transition: all ease 0.3s;
        &:hover {
            color: rgb(37 99 235);
            letter-spacing: 1px;
        }
    }
}
