.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 53px);
    padding: 0 var(--default-layout-horizontal-spacer);
    background-color: var(--white);
    &.guest {
        height: 80px;
    }
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    margin: 0 auto;
    // background-color: aqua;
    display: flex;
    align-items: center;
    .logo {
        padding: 0 7px;
    }
    .flex1 {
        flex: 1;
    }
}

.user {
    width: 80px;
    height: var(--default-layout-header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba($color: #000000, $alpha: 0.6);
    cursor: pointer;

    .user-avatar {
        width: 24px;
        height: 24px;
        object-fit: cover;
        border-radius: 50%;
        margin: -3px 0 -5px 0;
    }
    span {
        font-size: 12px;
        margin-right: 2px;
        user-select: none;
    }
}

.authenticate {
    padding-left: 20px;
    .btn {
        padding: 12px 24px
    }
    .login-btn {
        color: var(--primary);
        border-color: currentColor;
        &:hover {
            background-color: #f0f7ff;
        }
    }
}
